{%extends 'base.jinja'%}
{%block content%}
<h3>All right, you've got error {{error.code}}</h3>
<img src="/static/img/error.jpg" alt="congratulations meme"/>
<h3>Now<a href="/"> click here </a>, I will take you to a better place</h3>
{%endblock%}
