{%extends 'base.jinja'%}
{%block scripts%}
<script src="/static/js/request.js"></script>
<noscript>Your browser doesn't have javascript enabled. Enable it in order to delete or comment the move</noscript>
{%endblock%}
{%block content%}
    <div id="movie">
        <a id="address" href="http://{{address}}:{{frontend_port}}/favmovies/{{movie['imdbID']}}">
            <img src="{{ movie['Poster'] }}" alt="poster image" width="150" height="200"/>
        </a> <br>
        <p>{{ movie['Title'] }} - {{movie['Year']}} - {{ movie['Type']}}</p>
        <p>{{ movie['Plot'] }}</p>
        <textarea rows="4" cols="50" id="comment">{{ movie['Comment'] }}</textarea><br>
        <button id="delete">Delete me</button>
        <button id="update">Update me</button><br>
        <h4 id="warning" style="color:red">Delete and Update won't work</h4>
    </div>
{% endblock %}
