{% extends 'base.jinja' %}
{%block content%}
    {% if response.get("Error") %}
        <p>{{ response.get("Error") }}</p>
    {% else %}
        <form action="/favmovies" method="post">
            <ul>
            {% for movie in response.get('favmovies') %}
                <li>
                <a href="#">
                    <img src="{{ movie['Poster'] }}" alt="poster image" width="150" height="200"/>
                </a> <br>
                {{ movie['Title'] }} - {{movie['Year']}} - {{ movie['Type']}} <br>
                </li>
            {% endfor %}
            </ul>
        </form>
    {% endif %}
{%endblock%}
