{% extends 'base.jinja' %}
{%block content%}
    {% if response.get("Error") %}
        <p>{{ response.get("Error") }}</p>
    {% else %}
        <ul>
            {% for movie in response.get('favmovies') %}
                <li>
                    <a name="poster_link" href="http://{{address}}:{{frontend_port}}/favmovies/{{movie['imdbID']}}">
                        <img src="{{ movie['Poster'] }}" alt="poster image" width="150" height="200"/>
                    </a> <br>
                    {{ movie['Title'] }} - {{movie['Year']}} - {{ movie['Type']}} <br>
                    <textarea rows="4" cols="50" readonly>{{ movie['Comment'] }}</textarea>
                    <br>
                    <br>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{%endblock%}
