{% extends 'base.jinja' %}
{% block content %}
    <div id="content">
        <p>We save your favorite movies, so you never
        forget them</p>
        <ul>
            <li><a href='/register'>Register</a></li>
            <li><a href='/login'>Log in</a></li>
        </ul>
    </div>
{% endblock %}
