{% extends 'base.jinja' %}
{% block content %}
    <div id="content">
        <p>We save your favorite movies, so you never
        forget them</p>
        <a href='/register'>Register</a> <br>
        <a href='/login'>Log in</a>
    </div>
{% endblock %}
