{% extends 'base.jinja' %}
{% block content %}
    <p>Welcome {{ user.name }}</p>
    <ul>
        <li><a href="/search">Search movies</a></li>
        <li><a href="/edit_favorites">Edit movies</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
{% endblock %}
