{% extends 'base.jinja' %}
{% block content %}
    <form action="/login" method="POST">
        E-mail: <br>
        <input type="email" name="email"/> <br>
        Password: <br>
        <input type="password" name="password"> <br>
        <input type="submit" value="Login"/>
    </form>
{% endblock %}
